<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
    <title>Staff | The Irvington Voice</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/grid.css">
</head>
<body>

	<header>
		<%- include('../partials/header') %>
	</header>

	<main>
        <h1>Staff</h1>
        <div class="grid">
            <% stafflist.forEach(function(staff) {%>
                <div class="<%= 'staff-grid-item staff y' + staff.years.join(' y')%>" style="<%= 'background-image: url(' + staff.image + ');' %>">
                    <div>
                        <a href="<%= '/staff/' + staff.id%>">
                        <div class="staffname"><%= staff.name + ", " + staff.position %></div>
                        </a>
                    </div>
                </div>
            <%});%>
        </div>
	</main>
</body>
</html>